@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation for gliding elements */
@keyframes glideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes glideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.glide-left-enter {
  animation: glideLeft 1s forwards;
}

.glide-right-enter {
  animation: glideRight 1s forwards;
}
